In [29]:
import json
import datetime as dt
from nsepy import get_history as stock_hist
import pandas as pd

In [30]:
def read_json(file_path):
    with open(file_path, "r") as f:
        return json.load(f)

In [31]:
def date_parser(dt):
    dt = dt.split(',')
    year = int(dt[0])
    month = int(dt[1])
    day = int(dt[2])
    return year, month, day

In [32]:
config_file = read_json('config.json')

In [33]:
symbol = config_file['symbol']

y, m, d = date_parser(config_file['train_start_date'])
train_start_date = dt.datetime(y,m,d)

y, m, d = date_parser(config_file['train_end_date'])
train_end_date = dt.datetime(y,m,d)

y, m, d = date_parser(config_file['test_start_date'])
test_start_date = dt.datetime(y,m,d)

y, m, d = date_parser(config_file['test_end_date'])
test_end_date = dt.datetime(y,m,d)

In [34]:
#train_data
train_data = stock_hist(symbol=symbol,start=train_start_date,end=test_end_date)

In [35]:
train_data.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,SBIN,EQ,311.85,312.45,315.00,310.70,314.0,314.00,313.67,6138488,1.925489e+14,58688,1877677,0.3059
2015-01-02,SBIN,EQ,314.00,314.35,318.30,314.35,315.6,315.25,316.80,9935094,3.147389e+14,79553,4221685,0.4249
2015-01-05,SBIN,EQ,315.25,316.25,316.80,312.10,312.8,312.75,313.84,9136716,2.867432e+14,88236,3845173,0.4208
2015-01-06,SBIN,EQ,312.75,310.00,311.10,298.70,299.9,299.90,305.14,15329257,4.677601e+14,169268,7424847,0.4844
2015-01-07,SBIN,EQ,299.90,300.00,302.55,295.15,301.4,300.15,299.95,15046745,4.513243e+14,147185,5631400,0.3743

In [36]:
train_data.tail()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2021-12-30,SBIN,EQ,454.40,452.75,454.9,448.50,453.05,451.70,451.71,28879190,1.304510e+15,198099,14825094,0.5133
2021-12-31,SBIN,EQ,451.70,454.25,461.4,453.10,460.20,460.45,459.07,10005842,4.593372e+14,128788,3150588,0.3149
2022-01-03,SBIN,EQ,460.45,462.00,472.0,460.10,471.50,470.80,467.17,13124509,6.131388e+14,168001,4183151,0.3187
2022-01-04,SBIN,EQ,470.80,472.50,484.7,471.05,483.75,483.50,479.89,23296671,1.117985e+15,246431,7667089,0.3291
2022-01-05,SBIN,EQ,483.50,481.90,495.0,479.15,491.70,492.40,489.50,24694169,1.208792e+15,240463,8282621,0.3354

In [37]:
train_data.to_csv(f'{symbol}_dataset.csv')